*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
}
/*COMIENZO CARRUSEL*/
.carrousel{
    width: 100%;
    max-height: 35em;
    margin: 0 auto;
    overflow: hidden;
}
.carrousel .grande{
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: 1s;
}
.carrousel .crsel-block{
    position: relative;
    display: flex;
    width: calc(100% / 4);
    max-height: 30em;
}
.crsel-block img{
    object-fit: cover;
    width: 100%;
    max-height: 30em;
}
.carrousel .crsel-block .crsel-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 4em 2em;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: ease-in 1s;
}
.carrousel .crsel-block .crsel-content h3{
    font-weight: 700;
    font-size: 1vw;    
    color: #37BBED;
}
.carrousel .crsel-block .crsel-content h1{
    margin: .5em 0 .8em 0;
    font-weight: 600;
    font-size: 2vw;
    color: #fff;
}
.carrousel .crsel-block .crsel-content ul li{
    font-weight: 400;
    font-size: 1vw;
    color: #fff;
    margin-bottom: .5em;
}
.carrousel .crsel-block .crsel-content p{
    font-weight: 400;
    font-size: 1.2vw;
    color: #fff;
    margin-bottom: .5em;
}
.carrousel .crsel-block .crsel-content span{
    align-self: flex-start;
    width: auto;
    height: auto;
    margin-top: 2em;
    padding: .8em;
    font-size: 1.2vw;
    border-radius: 5px;
    color: #fff;
    background-color: #37BBED;
    transition: .5s;
}
.carrousel .crsel-block .crsel-content span:hover{
    background-color: #027BC1;
}
.carrousel .puntos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 1em;
}
.carrousel .punto{
    width: .8em;
    height: .8em;
    margin: 1em;
    border-radius: 100%;
    background-color: #37BBED;
    cursor: pointer;
    list-style-type: none;
    z-index: 100;
}
.carrousel .punto.activo{
    background-color: #027BC1;
}
/*FIN CARRUSEL*/
/*INICIO OFERTA ACADEMICA*/
.FA-title{
    width: 90%;
    margin: 0 auto 3em auto;
    padding-top: 2em;
}
.FA-title h2{
    font-weight: 700;
    font-size: 33px;
    color: #3B4449;
}
.FA-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.study{
    width: 24%;
    border-radius: 5px;
}
.study-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    border-radius: 5px 5px 0 0;
    color:#3B4449;
    background-color: #F1F1F1;
}
.study-title h3{
    font-weight: 700;
    font-size: 20px;
}
.dropdown-study p{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 10px;
    background-color: #37BBED;
    border-radius: 0px 0px 5px 5px;
    padding: 1em;
    color: #fff;
}
.dropdown-study ul li{
    padding: 0.2em;
    list-style-position: outside;
}
.dropdown-study ul li::marker{
    color: #fff;
}
.dropdown-study ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
}
.dropdown-study ul li:hover a{
    color: #3B4449;
}
.dropdown-study{
    position: relative;
}
.dropdown-study ul{
    visibility: hidden;
    position: absolute;
    width: 100%;
    padding: 1em 1em;
    background-color: #37BBED;
    z-index: 1000;
    border-radius: 0px 0px 5px 5px;
}
.dropdown-study:hover ul{
    visibility: visible;
}
.dropdown-study:hover p{
    border-radius: 0;
}
.FA-link{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
}
.FA-link a{
    text-decoration: none;
    padding-bottom: 5em;
    font-size: 15px;
    font-weight: 600;
    color: #37BBED;
    transition: .3s;
}
.FA-link a:hover{
    color: #027BC1;
}
/*FIN OFERTA ACADEMICA*/
/*INICIO NOVEDADES*/
.nov-container{
    width: 90%;
    margin: 0em auto;
    padding-bottom: 8em;
}
.nov-title{
    width: 100%;
    padding-bottom: 3em;
}
.nov-title h3{
    font-weight: 700;
    font-size: 20px;
    color: #3B4449;
}
.nov-flex-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.nov-img img{
    display: block;
    width: 100%;
    height: 22em;
    border-radius: 5px;
    object-fit: cover;
}
.novedad{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 23%;
    border-radius: 5px;
    color: #fff;
    z-index: 1;
}
.fecha-container{
    position: absolute;
    width: 60%;
    margin: 1.3em 1em;
}
.nov-fecha{
    width: 100%;
    background: rgba(55, 187, 237, 0.8);
    border-radius: 10px;
    padding: 1em;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}
.nov-description{
    position: absolute;
    bottom: 0;
    background: rgba(59, 68, 73, 0.7);
    border-radius: 0 0 5px 5px;
    padding: 1em;
}
.nov-description a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}
.nov-description h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: .3em;
}
.nov-link{
    display: flex;
    justify-content: flex-end;
}
/*FIN NOVERDADES*/
/*INICIO SEDES*/
.sedes-container{
    width: 90%;
    margin: auto;
    background-image: url("assets/sedes/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.sedes-filter{
    width: 100%;
    margin: auto;
    padding: 3em;
    background-color: rgba(59,68,73,0.85);
    border-radius: 5px;
}
.sedes-filter h3{
    margin: 1em auto 2.5em auto;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.imgs-container{
    display: flex;
    justify-content: center;
}
.sede-img{
    margin: auto 2em;
    transition: 0.5s;
}
.sede-img:hover{
    transform: scale(1.1);
}
/*FIN SEDES*/
/*INICIO EVENTOS*/
.events-container{
    width: 100%;
    background-color: #74C9DF;
    padding: 4em 0;
}
.event-title-link{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 0 2em 0;
    margin: auto;
    color: #fff;
}
.event-title-link a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
.event-title-link a:hover{
    color: #3B4449;
}
.flex-events{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.event{
    width: 23%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 1em;
}
.event-num-cat{
    display: flex;
    justify-content: space-between;
}
.event-num-cat h3{
    font-weight: 900;
    font-size: 33px;
    color: #000000;
}
.event-num-cat p{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 11px;
    color: #50B8B1;
}
.event-month h4{
    font-weight: 300;
    font-size: 28px;
    color: #000000;
}
.month-line{
    background-color: #50B8B1;
    width: 25%;
    height: .4em;
}
.event-text{
    padding: 1em 0;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.event-time-info{
    display: flex;
    justify-content: space-between;
}
.event-time-info p{
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    margin-right: .5em;
}
.event-time-info a{
    align-self: flex-end;
    text-decoration: none;
    color: #74C9DF;
    font-weight: 500;
    font-size: 11px;
    transition: .3s;
}
.event-time-info a:hover{
    color: #027BC1;
}
/*FIN EVENTOS*/


