*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common-font{
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
/*INICIO HEADER*/
header{
    display: flex;
    width: 90%;
    margin: 20px auto;
}
.logo{
    height: 70px;
}
.logo-container{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 3;
}
nav ul li a{
    text-decoration: none;
    color: #3B4449;
    padding: 10px;
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    display: inline;
}
.nav-content{
    margin-right: 2em;
}
.active{
    color: #027BC1;
}
.redes{
    display: flex;
    justify-content: center;
}
.red-img{
    width: 18px;
    margin: 4px;
    margin-bottom: 5px;
}
.contacto-btn{
    border-radius: 5px;
    border-style: none;
    background-color: #50B8B1;
    padding: 10px 16px;
    font-weight: 700;
    font-size: 14px;
}
#contact-link{
    text-decoration: none;
}
/*FIN HEADER*/
/*COMIENZO CARRUSEL*/
.container{
    width: 100%;
    height: max-content;
    background-image: url('assets/img2.jpg');
}
/*FIN ARRUSEL*/
/*INICIO OFERTA ACADEMICA*/
.flex-academica{
    display: flex;
    justify-content: center;
    
}
.study-container{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 0px 0px 0px 7px;
}
.blue{
	display: inline-block;
	background-color: #37BBED;
	border-radius: 6px;
	margin: 25px 20px 25px 30px;
}
.study-comun{
	font-family: 'Encode Sans', sans-serif;
	font-style: normal;
	letter-spacing: 0.2px;
	width: 320px;
}
.study-container h3{
	font-weight: 700;
	font-size: 19px;
	color: #000000;
}
.study-container h4:first-child{
	font-weight: 500;
	font-size: 13px;
	color: #808080;
}
.study-container h4:last-child{
	font-weight: 500;
	font-size: 12px;
	color: #000000;
}
/*FIN OFERTA ACADEMICA*/

/*INICIO NOVEDADES*/
.nov-title{
    width: 90%;
    margin: auto;
}
.nov-title h3{
    font-weight: 700;
    font-size: 20px;
    color: #3B4449;
}
.nov-flex-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: auto;
}
.novedad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 18em;
    margin: 1em;
}
#nov-1{
    background-image: url(assets/nov1.png); 
}
#nov-2{
    background-image: url(assets/nov2.png); 
}
#nov-3{
    background-image: url(assets/nov3.png); 
}
#nov-4{
    background-image: url(assets/nov4.png); 
}
.fecha-container{
    margin: 1.3em 1em;
}
.nov-fecha{
    display: inline;
    background: rgba(55, 187, 237, 0.8);
    border-radius: 10px;
    padding: 1em;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}
.nov-description{
    background: rgba(59, 68, 73, 0.8);
    border-radius: 5px;
    padding: 1em;
}
.nov-description p{
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}
.nov-description h4{
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}
/*FIN NOVERDADES*/
#novedades{
    margin: 4em;
}
/*INICIO SEDES*/
.sedes-container{
    width: 90%;
    margin: auto;
    background-image: url("assets/sedes/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.sedes-filter{
    width: 100%;
    margin: auto;
    padding: 3em;
    background-color: rgba(59,68,73,0.85);
    border-radius: 5px;
}
#sedes-title{
    margin: 0 auto 1em auto;
    height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.imgs-container{
    display: flex;
    justify-content: center;
}
.sede-img{
    margin: auto 2em;
}
/*FIN SEDES*/
/*INICIO EVENTOS*/
.events-container{
    width: 100%;
    background-color: #74C9DF;
    padding: 4em 0;
}
.event-title-link{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 0 2em 0;
    margin: auto;
}
.event-title-link a{
    text-decoration: none;
}
.flex-events{
    display: flex;
    width: 90%;
    margin: auto;
}
.event{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 1em;
}
.event-num-cat{
    display: flex;
    justify-content: space-between;
}
.event-num-cat h3{
    font-weight: 900;
    font-size: 33px;
    color: #000000;
}
.event-num-cat p{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 11px;
    color: #50B8B1;
}
.event-month h4{
    font-weight: 300;
    font-size: 28px;
    color: #000000;
}
.month-line{
    background-color: #50B8B1;
    max-width: 5em;
    height: .4em;
}
.event-text{
    padding: 1em 0;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.event-time-info{
    display: flex;
    justify-content: space-between;
}
.event-time-info p{
    color: #000000;
    font-weight: 300;
    font-size: 15px;
}
.event-time-info a{
    align-self: flex-end;
    text-decoration: none;
    color: #74C9DF;
    font-weight: 300;
    font-size: 11px;
}
/*FIN EVENTOS*/
/*INICIO FOOTER*/
footer{
    background-color: #3B4449;
    width: 100%;
}
.flex-footer-imgs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.flex-footer-imgs img{
    margin-top: 3em;
}
.column-flex{
    display: flex;
}
.column-flex p{
    display: flex;
    align-items: center; 
    padding: 5px;
    color: #fff;
}
.contact-column{
 
}
.contact-imgs{
    display: flex;
    align-items: center;
}
.contact-imgs img{
    margin: 6px 6px 6px 0px;
    padding: 6px 6px 6px 0;
}
/*FIN FOOTER*/
@media (max-width: 1024px){
    header{
        display: flex;

    }
}
