@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode sans';
}
.FA-title{
    width: 90%;
    margin: 0 auto 3em auto;
    padding-top: 2em;
}
.FA-title h2{
    font-weight: 700;
    font-size: 33px;
    color: #3B4449;
}
.FA-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.study{
    width: 24%;
    border-radius: 5px;
}
.study-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    border-radius: 5px 5px 0 0;
    color:#3B4449;
    background-color: whitesmoke;
}
.study-title h3{
    font-weight: 700;
    font-size: 20px;
}
.dropdown-study p{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 10px;
    background-color: #37BBED;
    padding: 1em;
    color: #fff;
}
.dropdown-study ul li{
    padding: 0.2em;
    list-style-position: outside;
}
.dropdown-study ul li::marker{
    color: #fff;
}
.dropdown-study ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
}
.dropdown-study ul li:hover a{
    color: #3B4449;
}
.dropdown-study{
    position: relative;
}
.dropdown-study ul{
    position: absolute;
    width: 100%;
    padding: 1em 1em;
    background-color: #37BBED;
    z-index: 100;
    border-radius: 0px 0px 5px 5px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .5s;
}
.dropdown-study:hover ul{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.FA-link{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
}
.FA-link a{
    text-decoration: none;
    padding-bottom: 5em;
    font-size: 15px;
    font-weight: 600;
    color: #37BBED;
    transition: .3s;
}
.FA-link a:hover{
    color: #027BC1;
}

